.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #353434, #c4c4c4); 
  background-size: 400% 400%; 
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  margin-top: 15px;
  color: #ffffff;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 99999; 
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
  margin-top: 30px;
}


  .background-image {
  width: 100%;
  height: auto;
}


.home-container .animation-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.home-container html {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #FF4B4B;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
}

.stagger-visualizer div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #878787;
  background-color: #878787;
}
